<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="components-list">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `components-list`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponentsList extends Polymer.Element {
      static get is() { return 'components-list'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'components-list'
          }
        };
      }
    }

    window.customElements.define(ComponentsList.is, ComponentsList);
  </script>
</dom-module>
